*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    font-size: 75px;
    margin-top: 25px;
}
table{
    border: 6px solid black;
    text-align: center;
    margin: auto;
}
table tr td{
    margin: auto;
    width: 125px;
    height: 125px;
    border: 5px solid black;
}
table tr td:hover{
    background-color:blue;
}
div{
    text-align: center;
    margin-top: 20px;
}
.XandO {
    font-size: 25px;
    text-align: center;
    height: 125px;
    width: 125px;
    color:black;
}

